<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="60x60" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/img/Logo.png">
    <link rel="manifest" href="../../static/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="../../static/img/Logo.png">
    <meta name="theme-color" content="#000000">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Caleb John">
    <script src="https://kit.fontawesome.com/80bbe0004b.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <title>Sentinel Fire Watch</title>
</head>

<body>
    <div class="container-fluid text-center">
        <br>
        <br>
        <h2 class="font-weight-light">Authorize Company in {{zone}} Jurisdiction</h2>
        <br>
        <hr>
        <br>
        <h3 class="font-weight-light">{{comp_id}} ({{comp.info.display}})</h3>
        <hr>

        <br>


        <div class="card">

            <div class="card-header bg-dark text-light font-weight-light">
                <h6 class="font-weight-light"><i class="fas fa-map-marked-alt"></i> {{comp.info.addr}}</h6>
            </div>

            <iframe id="gmap_canvas"
                src="https://maps.google.com/maps?q={{comp.info.addr|replace(' ', '%20')}}&t=&z=11&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" height="500"></iframe>

        </div>

        <br>
        <br>
        <div class="card">

            <div class="card-header bg-dark text-light font-weight-light">
                <h6 class="font-weight-light">Company Info <i class="fas fa-info-circle fa-lg"></i></h6>
            </div>
            <div class="card-body text-left">
                <br>
                <h6 class="font-weight-light">Phone: {{comp.info.phone}}</h6>
                <br>
                <h6 class="font-weight-light">Legal Name: {{comp.info.legal_name}}</h6>
                <br>
                <h6 class="font-weight-light">LIC: {{comp.info.lic}}</h6>
                <br>
                <h6 class="font-weight-light">Union: {{comp.info.union}} </h6>
                <br>
                <h6 class="font-weight-light">Website: {{comp.info.website}} </h6>



                <br>
                <br>


            </div>


        </div>

        <br>
        <br>
        <div class="card">

            <div class="card-header bg-dark text-light font-weight-light">
                <h6 class="font-weight-light">Administrators <i class="fas fa-user-shield fa-lg"></i></h6>
            </div>
            <div class="card-body text-left">
                <br>
                {% for a in comp.admin %}

                <h6 class="font-weight-light">{{comp['admin'][a]['name']}}: {{a}}</h6>
                <br>

                {% endfor %}


                <br>
                <br>


            </div>


        </div>

        <br>
        <br>
        <div class="card">

            <div class="card-header bg-dark text-light font-weight-light">
                <h6 class="font-weight-light">Technicians <i class="fas fa-user-edit fa-lg"></i></h6>
            </div>
            <div class="card-body text-left">
                <br>
                {% for t in comp.users %}

                <h6 class="font-weight-light">{{comp['users'][t]['name']}}: {{t}}</h6>
                <br>

                {% endfor %}


                <br>
                <br>


            </div>


        </div>
        <br>
        <br>
        <div class="card">

            <div class="card-header bg-dark text-light font-weight-light">
                <h6 class="font-weight-light">Certificates <i class="fas fa-certificate fa-lg"></i></h6>
            </div>

            <div class="text-justify">
                <br>
                {% for c in comp.info.certs %}
                <h5 class="font-weight-light">{{c}}:</h5>
                <br>
                <img class="img-fluid border-dark" src="{{comp['info']['certs'][c]['img']}}">


                <br>
                <br>

                {% endfor %}

            </div>

        </div>
        <br><br>
        <div class="card">

            <div class="card-header bg-dark text-light font-weight-light">
                <h6 class="font-weight-light">Logo <i class="fas fa-file-image fa-lg"></i></h6>
            </div>
        </div>
        <img class="img-fluid" src="{{comp.info.logo}}">
        <br>
        <br>
        <br>
        <br>







        <hr>
        <br>
        <br>
        <br>
        <div class="row">

            <div class="col">

                <form action="/fire-admin/{{zone}}/confirm-company" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input name="comp" value="{{comp_id}}" type="hidden">
                    <button class="btn btn-lg btn-success font-weight-light" type="submit" name="confirm"
                        value="yes">Authorize
                        Company</button>
                </form>

            </div>

            <div class="col">

                <button class="btn btn-lg btn-danger font-weight-light" data-toggle="modal"
                    data-target="#exampleModalCenter">Decline
                    Authorization Request</button>


                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title font-weight-light" id="exampleModalLongTitle">Reject Company</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/fire-admin/{{zone}}/confirm-company" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input name="confirm" value="no" type="hidden">
                                    <input name="comp" value="{{comp_id}}" type="hidden">
                                    <p class="font-weight-light">Enter Reason For Rejecting This Company</p><br>
                                    <textarea class="font-weight-light form-control border-dark" cols="30" rows="5"
                                        name="reason" type="text" required></textarea>

                                    <br>
                                    <hr>
                                    <button type="submit" class="btn btn-danger font-weight-light">Decline Authorization Request</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </form>


            </div>








        </div>








        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>

</html>