{% extends "base/company_admin.html" %}
<!--Import Base Template-->
{% block title %}
    View Systems
{% endblock %}

{% block head %}

    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}"></script>
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet"
          type="text/css">

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/r-2.2.3/sc-2.0.1/datatables.min.js">
    </script>

         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>



    <script data-dapp-detection="">
        (function () {
            let alreadyInsertedMetaTag = false

            function __insertDappDetected() {
                if (!alreadyInsertedMetaTag) {
                    const meta = document.createElement('meta')
                    meta.name = 'dapp-detected'
                    document.head.appendChild(meta)
                    alreadyInsertedMetaTag = true
                }
            }

            if (window.hasOwnProperty('web3')) {
                // Note a closure can't be used for this var because some sites like
                // www.wnyc.org do a second script execution via eval for some reason.
                window.__disableDappDetectionInsertion = true
                // Likely oldWeb3 is undefined and it has a property only because
                // we defined it. Some sites like wnyc.org are evaling all scripts
                // that exist again, so this is protection against multiple calls.
                if (window.web3 === undefined) {
                    return
                }
                __insertDappDetected()
            } else {
                var oldWeb3 = window.web3
                Object.defineProperty(window, 'web3', {
                    configurable: true,
                    set: function (val) {
                        if (!window.__disableDappDetectionInsertion)
                            __insertDappDetected()
                        oldWeb3 = val
                    },
                    get: function () {
                        if (!window.__disableDappDetectionInsertion)
                            __insertDappDetected()
                        return oldWeb3
                    }
                })
            }
        })()</script>

{% endblock %}
<!--Set Title-->
{% block main %}
    <script>
        $(document).ready(function () {
            $('#log-table').DataTable({
                "order": [[3, "desc"]]
            });
        });
    </script>



    <!--Page code here-->

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-800 text-success">

        <br>Systems</h1>


        <div id="past-due-map" style="height: 500px; position: relative;"
         class=" w-100 leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0">
        <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
            <div class="leaflet-pane leaflet-tile-pane">
                <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                    <div class="leaflet-tile-container leaflet-zoom-animated"
                         style="z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);"><img alt=""
                                                                                                   role="presentation"
                                                                                                   src=""
                                                                                                   class="leaflet-tile leaflet-tile-loaded"
                                                                                                   style="width: 512px; height: 512px; transform: translate3d(-200px, -347px, 0px); opacity: 1;"><img
                            alt="" role="presentation"
                            src=""
                            class="leaflet-tile leaflet-tile-loaded"
                            style="width: 512px; height: 512px; transform: translate3d(312px, -347px, 0px); opacity: 1;"><img
                            alt="" role="presentation"
                            src=""
                            class="leaflet-tile leaflet-tile-loaded"
                            style="width: 512px; height: 512px; transform: translate3d(-200px, 165px, 0px); opacity: 1;"><img
                            alt="" role="presentation"
                            src=""
                            class="leaflet-tile leaflet-tile-loaded"
                            style="width: 512px; height: 512px; transform: translate3d(312px, 165px, 0px); opacity: 1;">
                    </div>
                </div>
            </div>


        </div>
        <div class="leaflet-control-container">
            <div class="leaflet-top leaflet-left">
                <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in"
                                                                                 href="#" title="Zoom in"
                                                                                 role="button"
                                                                                 aria-label="Zoom in">+</a><a
                        class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button"
                        aria-label="Zoom out">−</a></div>
            </div>
            <div class="leaflet-top leaflet-right"></div>
            <div class="leaflet-bottom leaflet-left"></div>
            <div class="leaflet-bottom leaflet-right">
                <div class="leaflet-control-attribution leaflet-control"><a href="https://leafletjs.com"
                                                                            title="A JS library for interactive maps">Leaflet</a>
                    | Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a
                            href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a
                            href="https://www.mapbox.com/">Mapbox</a></div>
            </div>
        </div>
    </div>
    <script>

        var redMarker = L.icon({
            iconUrl: "{{ url_for('static', filename='img/red_marker.png') }}",
            iconSize: [35, 35],
            iconAnchor: [22, 80],
            popupAnchor: [-3, -76]
        });

        var blueMarker = L.icon({
            iconUrl: "{{ url_for('static', filename='img/blue_marker.png') }}",
            iconSize: [35, 35],
            iconAnchor: [22, 80],
            popupAnchor: [-3, -76]
        });


        var grayMarker = L.icon({
            iconUrl: "{{ url_for('static', filename='img/gray_marker.png') }}",
            iconSize: [35, 35],
            iconAnchor: [22, 80],
            popupAnchor: [-3, -76]
        });


        var greenMarker = L.icon({
            iconUrl: "{{ url_for('static', filename='img/green_marker.png') }}",
            iconSize: [35, 35],
            iconAnchor: [22, 80],
            popupAnchor: [-3, -76]
        });

        var yellowMarker = L.icon({
            iconUrl: "{{ url_for('static', filename='img/yellow_marker.png') }}",
            iconSize: [40, 40],
            iconAnchor: [22, 80],
            popupAnchor: [-3, -76]
        });


        var mymap = L.map('past-due-map').setView([{{ latitude }}, {{ longitude }}], 11);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'
        }).addTo(mymap);

        {% for k0,v0 in system_info.items() %}

        L.marker([ {{ v0.lat }}, {{ v0.long }}], {icon: greenMarker}).addTo(mymap)
            .bindPopup("<b>#{{ k0 }}</b><br><h6>{{ v0.name }}</h6><h6><a href='view-system/{{ k0 }}'>Info</a></h6>").openPopup();

        {% endfor %}


        var popup = L.popup();


    </script>
    <hr>
    <br>



    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Systems</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-striped dataTable" id="log-table" role="grid"
                                   aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="font-weight-bold">ID <i class="fas fa-sort"></i></th>
                                    <th class="font-weight-bold">Jurisdiction <i class="fas fa-sort"></i></th>
                                    <th class="font-weight-bold">Type <i class="fas fa-sort"></i></th>
                                    <th class="font-weight-bold">Owner <i class="fas fa-sort"></i></th>
                                    <th class="font-weight-bold">Date <i class="fas fa-sort"></i></th>
                                    <th class="font-weight-bold">Brand <i class="fas fa-sort"></i></th>
                                    <th class="font-weight-bold">Tag <i class="fas fa-sort"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k1,v1 in system_info.items() %}
                                    <tr>
                                        <td class="font-weight-light"><a class="btn btn-success"
                                                                         href="view-system/{{ k1 }}"><i
                                                class="fas fa-info"></i></a> {{ k1 }}
                                        </td>
                                        <td class="font-weight-light">{{ v1.zone }}
                                        </td>
                                        <td class="font-weight-light">{{ v1.type }}
                                        </td>
                                        <td class="font-weight-light">{{ v1.name }}
                                        </td>
                                        <td class="font-weight-light">{{ v1.time_stamp[:10] }}
                                        </td>
                                        <td class="font-weight-light">{{ v1.brand }}
                                        </td>
                                        <td class="font-weight-light">
                                          {% if v1.tag|upper == 'RED' %}
                                              <p class="text-danger">{{v1.tag}}</p>
                                          {% elif v1.tag|upper == 'YELLOW' %}
                                              <p class="text-warning">{{ v1.tag }}</p>
                                          {% elif v1.tag|upper == 'WHITE'%}
                                              <p class="text-dark">{{ v1.tag }}</p>
                                          {% else%}
                                              <p class="text-dark">Not Filed</p>
                                          {% endif %}
                                      </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    {% block script %}


    {% endblock %}
    <!--END-->
{% endblock %}