{% extends "base/company_admin.html" %}
<!--Import Base Template-->
{% block title %}

    Technician Performance

{% endblock %}
<!--Set Title-->

{% block head %}


    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}"></script>
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet"
          type="text/css">

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/r-2.2.3/sc-2.0.1/datatables.min.js">
    </script>


{% endblock %}


{% block main %}

        <script>
    $(document).ready(function() {
    $('#log-table').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
} );
    </script>
    <!--Page code here-->

    <!-- Page Heading -->
    <br>
    <h4 class="h3 mb-4 text-gray-800"><br>
        <a class="btn btn-primary btn-lg font-weight-light" href="/{{ comp_name }}/admin-panel-view-techs"><i
                class="fas fa-arrow-left"></i></a> {{ user_info.name }}</h4>
    <br>
    <br>
    <div class="card">

        <div class="card-header bg-dark text-light text-center font-weight-light">
            <h6 class="font-weight-light">Info <i class="fas fa-info-circle"></i></h6>
        </div>


        <div class="row">

            <div class="col-lg-4 text-center">
                <br>


                <h5>Email: {{ user_info.email }}</h5>
                <br>
                <h5>Phone: {{ user_info.phone }}</h5>
                <br>
                <h5>ICC Certification #{{ user_info.icc }}</h5>
                <br>
                <h5>State Certification #{{ user_info.state_cert }}</h5>
                <br>
            </div>
            <div class="col-lg-8">
                {% if user_logs.reports != 0 %}
                    <br>
                    <canvas id="tag-chart" class="mx-auto"></canvas>
                    <script>
                        var tag_ctx = document.getElementById('tag-chart').getContext('2d');

                        new Chart(tag_ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ["Red", "Yellow", "White"],
                                datasets: [
                                    {
                                        label: "# of Reports",
                                        backgroundColor: ["#ff0022", "#fff200", "#cfcfcf"],
                                        data: [{{ user_logs['tags']['red'] }}, {{ user_logs['tags']['yellow'] }}, {{ user_logs['tags']['white'] }}]
                                    }
                                ]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: '{{user_info.name}} Has Filed {{user_logs.reports}} Reports and Registered {{ user_logs.systems }} Systems This Cycle '
                                }
                            }
                        });
                    </script>
                {% else %}
                    <h5 class="font-weight-light">{{ user_info.name }} Has Filed 0 Reports This Cycle and
                        Registered {{ user_logs.systems }} Systems This Cycle </h5>
                {% endif %}
                <br>
            </div>
        </div>


    </div>

    <br>
    <div class="card">

        <div class="card-header bg-dark text-light text-center font-weight-light">
            <h6 class="font-weight-light">Technician Records <i class="fas fa-clipboard-list"></i></h6>
        </div>
        <br>
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped dataTable" id="log-table" role="grid"
                               aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th class="font-weight-bold text-sm-left">Cycle Start Date <i class="fas fa-sort"></i>
                                </th>
                                <th class="font-weight-bold text-sm-left">Cycle End Date <i class="fas fa-sort"></i>
                                </th>
                                <th class="font-weight-bold text-sm-left">Systems Registered <i class="fas fa-sort"></i></th>
                                <th class="font-weight-bold text-sm-left">Reports Filed <i class="fas fa-sort"></i></th>
                                <th class="font-weight-bold text-sm-left text-danger">Red <i class="fas fa-sort"></i>
                                </th>
                                <th class="font-weight-bold text-sm-left text-warning">Yellow <i
                                        class="fas fa-sort"></i></th>
                                <th class="font-weight-bold text-sm-left text-dark">White <i class="fas fa-sort"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for l in log_keys %}
                                <tr>
                                    <td class="font-weight-light">{{ logs[l]['start_date'] }}</td>
                                    <td class="font-weight-light">{{ logs[l]['end_date'] }}</td>
                                    <td class="font-weight-light">{{ logs[l]['users'][user]['systems'] }}</td>
                                    <td class="font-weight-light">{{ logs[l]['users'][user]['reports'] }}</td>
                                    <td class="font-weight-light text-danger">{{ logs[l]['users'][user]['tags']['red'] }}</td>
                                    <td class="font-weight-light text-warning">{{ logs[l]['users'][user]['tags']['yellow'] }}</td>
                                    <td class="font-weight-light text-dark">{{ logs[l]['users'][user]['tags']['white'] }}</td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <br>
    <br>




    {% block script %}


    {% endblock %}
    <!--END-->
{% endblock %}
