<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="60x60" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="57x57" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="76x76" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="120x120" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="144x144" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="152x152" href=".../../../static/img/Logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href=".../../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="192x192" href=".../../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href=".../../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="96x96" href=".../../../static/img/Logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href=".../../../static/img/Logo.png">
    <link rel="manifest" href="../../../static/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="../../static/img/Logo.png">
    <meta name="theme-color" content="#000000">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Caleb John">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/80bbe0004b.js" crossorigin="anonymous"></script>
    <title>Sentinel Fire Watch</title>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <br>
            <h3 class="font-weight-light">Update system Info</h3>
            <hr>
            <form action="update-info" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <br>
                <h4 class="font-weight-light">Business Name<br>
                    <input class="font-weight-light border-dark form-control" name="name" value={{rest_name}} required>
                </h4>
                <br>
                <hr>
                <h4 class="font-weight-light">Address<br>
                    <input class="font-weight-light border-dark form-control" name="addr" value={{addr}} required></h4>
                <br>
                <hr>
                <h4 class="font-weight-light">City<br>
                    <input class="font-weight-light border-dark form-control" name="city" value={{city}} required>
                </h4>
                <br>
                <hr>
                <input type="hidden" name="state" value={{state}}>
                <h4 class="font-weight-light">Zip<br>
                    <input class="font-weight-light border-dark form-control" name="zip" value={{zip}} required></h4>
                <br>
                <hr>
                <h4 class="font-weight-light">Owner Name<br>
                    <input class="font-weight-light border-dark form-control" name="owner" value={{owner}} required>
                </h4>
                <br>
                <hr>
                <h4 class="font-weight-light">Phone<br>
                    <input class="font-weight-light border-dark form-control" type="tel" name="phone" value={{phone}}
                        required></h4>
                <br>
                <hr>
                <h4 class="font-weight-light">Email<br>
                    <input class="font-weight-light border-dark form-control" name="email" type="email" value={{email}}
                        required>
                </h4>
                <br>
                <hr>
                <h4 class=" font-weight-light">Model Number<br>
                    <input class="font-weight-light border-dark form-control" name="model" value={{model}} required>
                </h4>
                <br>
                <hr>
                <h4 class="font-weight-light">Location<br>
                    <input class="font-weight-light border-dark form-control" name="location" value={{location}}
                        required></h4>
                <br>
                <hr>
                <input class="btn btn-success btn-lg font-weight-light" type="submit" value="Next">
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>
</body>

</html>